

<button ng-if="firstQuery" ng-click="makeQuery(requestObject)" class="makeQueryButton btn btn-primary">make query</button>
<button ng-if="firstQuery" ng-click="fillForm()" class="fillForm btn btn-primary">fill form</button>

<div id="main-app" ng-hide="firstQuery">
  <main-chart chart-params="mainChartParams" id="main-content-holder" content-data="mainContent"></main-chart>
  <stock-selectors id="stock-selectors" leg-set="stockList"></stock-selectors>
  <div id="individual-leg-viewer">
       <div ng-mouseover="highlightLeg(id)" ng-repeat="(id, leg) in mainContent.chartData" ng-if="!$last"id="{{id}}" class="individual-leg">
              <daily-pl-chart is-displaying="isDisplaying[id]" tag="id" data="leg"></daily-pl-chart>
              <div id="" class="leg-options">

              </div>
       </div>
  </div>
</div>
