<div layout="row" class="full-height">
    <!-- left sidebar -->


    <!-- main content -->
    <div id="admin-panel" layout="column" flex>
        <!-- loading animation -->
        <tri-loader></tri-loader>

        <!-- top toolbar -->
        <md-toolbar class="admin-toolbar" ng-if="layout.showToolbar" md-theme="{{triSkin.elements.toolbar}}" ui-view="toolbar" ng-class="[layout.toolbarSize,layout.toolbarClass]"></md-toolbar>

        <!-- scrollable content -->
        <md-content ng-class="layout.contentClass" flex tri-default-content ui-view="content"></md-content>

        <div ui-view="belowContent"></div>
    </div>

    <!-- right sidebar -->
</div>
