<div class="email-inbox full-height overflow-hidden " layout="row">
    <div class="email-inbox-list md-whiteframe-z1" flex="100" flex-gt-xs="50" flex-gt-lg="40" ng-show="!vm.isViewMobile" layout="column">
        <md-content>
            <section class="email-inbox-list-animate-repeat" ng-repeat="(key, value) in vm.items | groupBy:'title' " ng-if="vm.items.length > 0" >
                <md-subheader  class="md-primary">title:{{::key}}</md-subheader>
                <div style="background-color: skyblue">
                <md-divider></md-divider>
                <md-list>
                    <md-list-item class="email-inbox-list-item email-inbox-list-animate-repeat md-3-line"
                                  ng-repeat="item in value" ng-click="vm.getDetail(item)"
                                  ng-class="{ active: selectedMail === item.id, 'email-inbox-list-item-unread': item.unread }">
                        <img class="md-avatar animate" ng-src="assets/images/avatars/time.jpg"
                             alt="{{::email.from.name}}">

                        <div class="md-list-item-text">
                            <div class="email-inbox-list-item-name-time" layout="row"
                                 layout-align="space-between start">
                                <h3>{{item.title}}</h3>
                            </div>
                        </div>

                        <md-divider></md-divider>
                    </md-list-item>

                </md-list>
                    </div>
            </section>
        </md-content>
        <md-button ng-click="vm.add_timeslot()" class="md-fab md-accent md-fab-bottom-right">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
        </md-button>
    </div>

    <div class="animate-wrapper" layout="column"  flex>
        <div flex id="ui-admin-email" ui-view layout="column"  class="overflow-auto">
            <div flex class="email-inbox-no-email-selected" layout="column" layout-align="">
                <h2 hide-xs translate>No Timeslot selected</h2>
            </div>

        </div>
    </div>

</div>
<!--<div class="padded-content-page">-->
<!--<div layout="row" layout-align="center center">-->
<!--<p>Your content here</p>-->
<!--</div>-->
<!--</div>-->
