.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 2px solid red;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 3px solid red;
}
.email-inbox {
    background: rgba(0, 0, 0, 0.05);
}

.email-inbox-list {
    position: relative;
    z-index: 1;
md-content {
    transform: translate3d(0,0,0);
}
md-list {
    padding: 0px;
}
}
.email-inbox-list-item {
    transition: all .2s;
&.active {
     background: rgba(0,0,0, .05);
 }
&.active {
.md-avatar {
    display: block;
    animation: swing 1s;
}
}
.md-list-item-text {
    white-space: normal;
}
}

.email-inbox-list-item-name-time {
h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
}
p {
    line-height: 1.2em !important;
}
}

.email-inbox-list-item-unread {
h3, h4 {
    font-weight: 500 !important;
}
}

.email-inbox-list .md-subheader {
    margin-right: 0;
&:after {
     display: none;
 }
}


//mycss

.toolbardemoScrollShrink .face {
    width: 48px;
    margin: 16px;
    border-radius: 48px;
    border: 1px solid #d2d2d2; }

.md-select-form {
    display: inline-block;
    margin-top: 2px;
    width: 100%;
    span {
        width: 100%;
    }
}
.seed-list {
    list-style: lower-greek;
}

.md-select-form {
    display: inline-block;
    margin-top: 2px;
    width: 100%;
    span {
        width: 100%;
    }
}

//my CSS

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }

//our css

.inputdemoBasicUsage .md-datepicker-button {
    width: 36px; }
.thumbImage1 {
    //float: left;
    width: 75px;
    height: 75px;

    border-radius: 50%;
}

form .thumb {
    width: 300px;
    height: 150px;

    // float: none;
    position: relative;
    top: 0px;
}
//.md-button {
//    padding: 0 6px 0 6px;
//    margin: 6px 8px 6px 8px;
//    min-width: 88px;
//    border-radius: 3px;
//    font-size: 14px;
//    text-align: center;
//    text-transform: uppercase;
//    text-decoration:none;
//    border: none;
//    outline: none;
//}


[md-header-picture] {
    position: relative;
    width:auto;
    height:0; /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
    padding-bottom: 56.25%;
    overflow:hidden;
    background-size:160%; /* You can override this value if your picture has a weird ratio */
    background-position:50% 50%;
}

[scroll] {
    position:fixed;
    top:0;

}

/* I made a simple scale animation on float action button during scroll */

/* Lines of code below are just here to get a better aspect but optionnal */

i {
    font-size:24px;
}

.md-tools {
    width: 40px;
}

.muted {
    color: #bbb;
    font-size: inherit;
    font-weight: 700;
    text-align: left;
}

.md-tile-left {
    margin-right:0!important;
    padding-left:24px;
    color: rgb(63,81,181);
}
